{% extends "layout.html.twig" %}
{% block content %}

<a href="{{ app.url_generator.generate('homepage') }}">HOME</a>
    qua ci va il testo della storia del progetto

    <h2>Il primo prototipo</h2>
    foto del primo foglio
    <h2>L'evoluzione</h2>
    foto del secondo foglio
    <h2>Oggi</h2>
    qualceh fuffata sul sito
{% endblock %}