{% extends "layout.html.twig" %}
{% block content %}
    <h1>Sono state date <span id="counter">{{ count }}</span> ginocchiate </h1>
<br/><br/>
    <a href="{{ app.url_generator.generate('homepage') }}">HOME</a>
    <br/><br/>
    <a href="{{ app.url_generator.generate('history') }}">History</a><br/><br/>

    <a href="#" id="ahi">Anche io :( </a>



    <script>
    $(function(){
        $('#ahi').on('click',function(){
            $.ajax('{{ app.url_generator.generate('post_count') }}',{
                type:'POST',
                success: function(data, textStatus, jqXHR) {
                    $('#counter').html(data['count']);
                }

            }
            );
        });
    });
    </script>
{% endblock %}

