<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Contatore ufficiale Xenoci Roti</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="/css/ginocchia.css" type="text/css" media="screen" />
    {% block head %}
    {% endblock %}
</head>
    <body>
    <div class="brand">
        <a href="/">
            <img src="/img/cuori.png" alt="#Duecuoriunacapanna">
        </a>
    </div>
    {% block content %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% block foot %}
    {% endblock %}
    </body>
</html>