<!doctype html>
<html>
<head>
	<title>Contatore ginocchiate</title>
	<link rel="stylesheet" href="css/ginocchia.css" type="text/css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
    <body>
    {% block content %}
    {% endblock %}
    </body>
</html>