html,
body {
	height: 100%;
}

body {
	background: url('/img/bg.jpg') no-repeat center center #000;
	background-size: cover;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #FFF;
	text-align: center;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #FFF;
}

.brand {
	padding: 50px 0;
}

.main-title {
	font-size: 65px;
	font-weight: 100;
	margin: 0;
}

#ahi {
	text-transform: uppercase;
	background: #920505;
	padding: 20px 30px;
	text-decoration: none;
	font-size: 25px;
	font-weight: 100;
	display: inline-block;
}

.desc {
	font-size: 25px;
	font-weight: 100;
}

#supercounter-wrap {
	background: url('/img/digit-bg.png') no-repeat center 8px transparent;
	padding: 30px 0;
}

#supercounter {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	position: relative;
	width: 434px;
	height: 160px;
	overflow: hidden;
	margin: 0 auto;
	color: #000;
}
#supercounter div {
	position: absolute;
	top: 0;
	width: 97px;
	height: 800px;
}

#supercounter div#digit_0 {
	left: 0;
}
#supercounter div#digit_1 {
	left: 110px;
}
#supercounter div#digit_2 {
	left: 220px;
}
#supercounter div#digit_3 {
	left: 330px;
}

#supercounter div span {
	display: block;
	width: 97px;
	height: 160px;
	font-size: 160px;
	float: left;
	clear: both;
	line-height: 155px;
}

#login-box {
	width: 500px;
	margin-top: 40px;
	border: 1px solid #ccc;
	padding: 20px;
}